<div class="container">
<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Nom:</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Prénom:</label>
      <input type="text" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Email:</label>
      <input type="email" class="form-control" id="inputAddress" >
    </div>
    <div class="col-12">
        <label for="inputAddress2" class="form-label">Message</label>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>
  

    <div class="col-12">
      <button type="submit" style="background-color: rgb(143, 104, 14);color: white;padding:1% 10% 1% 10%;border: none;">Send</button>
    </div>
  </form>


</div>